@use "../../../styles/mixins.scss" as *;
@use "../../../styles/variables.scss" as *;

#links-section {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $spacing-xl;
  min-height: 100%;
  box-sizing: border-box;

  #links-main {
    @include flex($flex-direction: column, $gap: $spacing-lg);
    max-width: 640px;
  }

  #preview {
    position: sticky;
    top: $spacing-xl;
    align-self: start;
    height: fit-content;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}
