@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

#private-layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr;
  box-sizing: border-box;
  overflow: hidden;

  #sidebar {
    width: 100%;
  }
}

#content {
  overflow-y: auto;
  position: relative;
  padding: $spacing-xl $spacing-2xl;
}
