<section id="appereance-wrapper">
  <aside class="content-wrapper">
    <div class="themes">
      <div class="title-container">
        <h1>Themes</h1>
      </div>

      <div class="themes-wrapper">
        @for (item of themes; track $index) {
          <app-thumbnail
            [preset]="item"
            (thubnailEmitter)="newTheme.set($event)"
          />
        }
      </div>
    </div>

    <div id="action">
      <app-button
        [disabled]="!selectedTheme()"
        [variant]="'primary'"
        (clicked)="updateTheme(newTheme()!)"
      >
        Save
      </app-button>

      @if (selectedTheme()) {
        <app-button [variant]="'secondary'" (clicked)="this.newTheme.set(null)"
          >Cancel</app-button
        >
      }
    </div>
  </aside>

  <aside id="preview">
    <app-preview [data]="user()" [themePreview]="newTheme()" />
  </aside>
</section>
