<aside id="preview">
  <p class="preview-label">Live preview</p>
  <div class="phone-frame">
    <div class="phone-screen">
      <div class="user-mini-card">
        <div class="avatar">
          {{ data()?.username?.charAt(0)?.toUpperCase() }}
        </div>
        <p class="username">{{ data()?.username }}</p>
        <span class="bio">{{ data()?.bio }}</span>
      </div>

      <div class="urls">
        @for (url of data()?.links; track $index) {
          <span [class.disabled]="url.is_active === false">{{
            url.title
          }}</span>
        }
      </div>

      <div class="phone-divider"></div>
      <p class="phone-footer">made with <span>LinkHub</span></p>
    </div>
  </div>
</aside>
