<section id="login-section">
  <aside id="top-container">
    <div class="heading">
      <div class="logo">Link<span>Hub</span></div>
    </div>

    <div class="options">
      <button>Log in</button>
      <button>Sign up</button>
    </div>

    <div class="greet">
      <p>Welcome back</p>
      <span>Log in to manage your links</span>
    </div>
  </aside>

  <aside id="auth-form">
    <form>
      <div class="input-wrap">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>

      <div class="input-wrap">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>

      <button type="button" class="submit-btn">Log in</button>

      <p class="switch-text">
        Don't have an account? <a routerLink="/auth/register">Sign up free</a>
      </p>
    </form>
  </aside>
</section>
