<div id="account-settings">
  <div class="account-details">
    <div class="container-title">
      <span>Account details</span>
    </div>

    <form [formGroup]="accountForm">
      <div class="form-wrapper">
        <label for="username">Username</label>
        <div class="username-input">
          <span class="prefix">linkhub.app/p/</span>
          <input
            type="text"
            name="username"
            id="username"
            formControlName="username"
          />
        </div>
        @if (
          accountForm.controls.username.hasError("minlength") &&
          accountForm.controls.username.touched
        ) {
          <p class="error">Username must be at least 3 characters long</p>
        }

        @if (
          accountForm.controls.username.hasError("maxlength") &&
          accountForm.controls.username.touched
        ) {
          <p class="error">Username must be less then 16 characters long</p>
        }

        @if (accountForm.controls.username.valid) {
          <div class="warn">
            <span
              ><i class="fa-solid fa-triangle-exclamation"></i> Changing this
              updates your public link</span
            >
          </div>
        }
      </div>

      <div class="form-wrapper">
        <label for="currentPassword">Old Password</label>
        <input
          type="password"
          name="currentPassword"
          id="currentPassword"
          formControlName="currentPassword"
        />
      </div>

      <div class="form-wrapper">
        <label for="password">New Password</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />

        @if (
          accountForm.controls.password.hasError("minlength") &&
          accountForm.controls.password.touched
        ) {
          <p class="error">Password must be more then 8 characters long</p>
        }

        @if (
          accountForm.controls.password.hasError("maxlength") &&
          accountForm.controls.password.touched
        ) {
          <p class="error">Password must be less then 16 characters long</p>
        }
      </div>

      <div class="btn-wrapper">
        <app-button
          variant="primary"
          [disabled]="!hasChanges()"
          (clicked)="onSubmit()"
          >Save</app-button
        >

        @if (hasChanges()) {
          <app-button variant="secondary">Cancel</app-button>
        }
      </div>
    </form>
  </div>

  <div id="profile-visibility">
    <div class="container-title">
      <span>Profile visibility</span>
    </div>

    <div class="switch-container">
      <div class="text-wrapper">
        <p>Public profile</p>
        <span>Anyone with your link can view your page</span>
      </div>

      <app-toggle
        [isActive]="user()!.is_public"
        (toggled)="isPublic.next($event)"
      ></app-toggle>
    </div>
  </div>
</div>
