<div id="profile-settings">
  <div class="data-container">
    <div class="container-title">
      <span>Display details</span>
    </div>

    <form [formGroup]="profileForm">
      <div class="form-wrapper">
        <label for="displayName">display name</label>
        <input
          type="text"
          name="displayName"
          id="displayName"
          formControlName="displayName"
        />
        @if (
          profileForm.controls.displayName.hasError("minlength") &&
          profileForm.controls.displayName.touched
        ) {
          <p class="error">Username must be at least 3 characters long</p>
        }

        @if (profileForm.controls.displayName.hasError("sameAsCurrent")) {
          <span class="error">This is already your display name.</span>
        }

        @if (
          profileForm.controls.displayName.hasError("maxlength") &&
          profileForm.controls.displayName.touched
        ) {
          <p class="error">
            Username must be 16 characters long or less then 16
          </p>
        }
      </div>

      <div class="form-wrapper">
        <label for="bio">Bio</label>
        <input type="text" name="bio" id="bio" formControlName="bio" />
        @if (
          profileForm.controls.bio.hasError("maxlength") &&
          profileForm.controls.bio.touched
        ) {
          <p class="error">Bio must be less then 120 characters</p>
        }

        @if (profileForm.controls.bio.hasError("sameAsCurrent"); as error) {
          <span class="error">This is already your bio.</span>
        }
      </div>

      <div class="buttons">
        <app-button
          variant="primary"
          [disabled]="profileForm.invalid || !canSubmit()"
          (clicked)="onSubmit()"
          >Save</app-button
        >

        @if (canSubmit()) {
          <app-button variant="secondary" (clicked)="profileForm.reset()"
            >Cancel</app-button
          >
        }
      </div>
    </form>
  </div>
</div>
