<div id="panel">
  <div class="logo" routerLink="">Link<span>Hub</span></div>
  <nav>
    <ul>
      @for (item of NavItems; track $index) {
        <li>
          <a
            [routerLink]="getRoute(item)"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{
              exact: item.route === '/dashboard/settings' ? false : true,
            }"
            [target]="item.target ?? '_self'"
          >
            <i [class]="item.icon"></i>
            {{ item.title }}
          </a>
        </li>
      }
    </ul>
  </nav>
  <div class="panel-footer">
    <button class="logout-btn" (click)="logout()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
    </button>
  </div>
</div>
