@if (!showActions()) {
  <a
    class="url-card"
    [href]="normalizedUrl()"
    target="_blank"
    rel="noopener noreferrer"
    (click)="emitter.emit()"
  >
    <div class="url-info">
      <div class="ico">
        <img [src]="urlData()?.favicon_url" alt="url-ico" draggable="false" />
      </div>
      <div class="text-wrapper">
        <h3>{{ urlData()?.title }}</h3>
        <span>{{ urlData()?.url }}</span>
      </div>
    </div>
  </a>
} @else {
  <div class="url-card" style="cursor: default">
    <div class="drag-handle" cdkDragHandle>
      <i class="fa-solid fa-grip-vertical"></i>
    </div>

    <div class="url-info">
      <div class="ico">
        <img [src]="urlData()?.favicon_url" alt="url-ico" draggable="false" />
      </div>
      <div class="text-wrapper">
        <h3>{{ urlData()?.title }}</h3>
        <span>{{ urlData()?.url }}</span>
      </div>
    </div>

    <div class="card-actions">
      <div class="stats">
        <span class="clicks">{{ urlData()?.click_count }} clicks</span>
      </div>

      <div class="actions">
        <app-toggle
          [isActive]="urlData()!.is_active"
          (toggled)="onToggle($event)"
        />

        <button class="icon-btn" (click)="openEdit.emit()">
          <i class="fa-solid fa-pen"></i>
        </button>

        <button class="icon-btn danger" (click)="removeAction(urlData()!)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>
    </div>
  </div>
}
