<div class="url-card">
  <div class="url-info">
    <h3>{{ urlData()?.title }}</h3>
    <span>{{ urlData()?.url }}</span>
  </div>

  <div class="card-actions">
    <ul>
      <li>
        <app-toggle
          [isActive]="urlData()!.is_active"
          (toggled)="onToggle($event)"
        />
      </li>

      <li>
        <button class="btn" (click)="openEdit.emit()">
          <i class="fa-solid fa-pen"></i>
        </button>
      </li>

      <li>
        <button class="btn" (click)="emitDelete.emit(urlData()!.id)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
