@use "../../../../styles/variables.scss" as *;
@use "../../../../styles/mixins.scss" as *;

.url-card {
  border-radius: $radius-md;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid $border;
  font-family: $font-inter;
  @include flex($align-items: center, $justify-content: space-between);

  .url-info {
    h3 {
      margin: 0;
      font-weight: 500;
    }

    span {
      margin: 0;
      font-size: 12px;
    }
  }

  .card-actions {
    ul {
      @include flex($flex-direction: row, $gap: 10px);

      li {
        width: fit-content;
        list-style: none;

        .btn {
          display: inline-flex;
          align-items: center;
          gap: 6px;
          padding: 6px 12px;
          font-family: $font-inter;
          font-size: 12px;
          font-weight: 500;
          border: 1px solid $border;
          border-radius: $radius-sm;
          cursor: pointer;
          transition: $transition;
          background-color: $primary;
          color: $off-white;

          i {
            font-size: 12px;
          }

          &:hover {
            color: $text-primary;
            background: $bg-hover;
            border-color: $primary;
          }

          &:active {
            background: $active-white;
          }
        }
      }
    }
  }
}
