<div
  class="url-card"
  [style]="!showActions() ? 'cursor: pointer' : 'cursor: default'"
  (click)="emitter.emit()"
>
  @if (showActions()) {
    <div class="drag-handle" cdkDragHandle>
      <i class="fa-solid fa-grip-vertical"></i>
    </div>
  }

  <div class="url-info">
    <div class="ico">
      <img [src]="urlData()?.favicon_url" alt="url-ico" draggable="false" />
    </div>

    <div class="text-wrapper">
      <h3>{{ urlData()?.title }}</h3>
      <span>{{ urlData()?.url }}</span>
    </div>
  </div>

  @if (showActions()) {
    <div class="card-actions">
      <div class="stats">
        <span class="clicks">{{ urlData()?.click_count }} clicks</span>
      </div>

      <div class="actions">
        <app-toggle
          [isActive]="urlData()!.is_active"
          (toggled)="onToggle($event)"
        />

        <button class="icon-btn" (click)="openEdit.emit()">
          <i class="fa-solid fa-pen"></i>
        </button>

        <button class="icon-btn danger" (click)="removeAction(urlData()!)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </div>
    </div>
  }
</div>
